<!DOCTYPE html>
	<head> 
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
	</head>
	<body>
		<table class="">
			<thead>
				<tr>
					<th></th>
					<th>CanJS</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Require + Shared</th>
					<td><a href="/can_require_shared/">Go</a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>